{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"globals": {
        "mapkit": "writable",
        "CustomEvent": "readonly",
        "Event": "readonly"
    },
    "ignorePatterns": ["**/vendor/**"]
}
